.home{
    margin-top: 15%;
}

.gadgets{
    font-size: 40px;
    font-weight: 800;
}

.form-control{
    border: 1px solid  hsl(16, 100%, 65%) !important ;
    color: hsl(16, 100%, 65%) !important;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid gainsboro;
}

.form-control:active{
    box-shadow: none;
    border: 1px solid gainsboro;
}

.input-text{
    color: hsl(16, 100%, 65%) !important;
    background: #fff !important;
    border: 1px solid  hsl(16, 100%, 65%) !important ;
}

.form-control::placeholder{
    color: hsl(16, 100%, 65%) !important;
}

@media (max-width: 768px){
    .home{
        margin-top: 35%;
    }

    .gadgets{
        font-size: 20px;
        font-weight: 800;
    }

    .form-control{
        border: 1px solid  hsl(16, 100%, 65%) !important ;
        color: hsl(16, 100%, 65%) !important;
        /* width: 80% !important; */
        height: 23px;
        font-size: 10px;
    }

    .input-text{
        color: hsl(16, 100%, 65%) !important;
        background: #fff !important;
        border: 1px solid  hsl(16, 100%, 65%) !important ;
        height: 23px;
    }

    .form-control::placeholder{
        color: hsl(16, 100%, 65%) !important;
        font-size: 11px; 
    }

    .fa-magnifying-glass{
        font-size: 11px;
    }
}